<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./transaction.component.css">
</head>
<body>
    <div class="container">
        <h1 class="p-4 text-center">Transaction History</h1>
        <table class="text-white text-center">
            <thead>
                <tr>
                    <th class="">Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of transaction">
                    <td>{{i.Type}}</td>
                    <td>{{i.Amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>